/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
button#biography-edit {
  text-align: center;
  width: auto;
  height: 35px;
  border-radius: 3px;
  background-color: white;
}
button#biography-edit:hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  background-color: #394F8A;
  color: #9cf6fb;
}
