/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
button#comment-edit {
  text-align: center;
  width: auto;
  height: 35px;
  border-radius: 6px;
  background-color: white;
}
button#comment-edit:hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  background-color: #4a5fc1;
  color: #9cf6fb;
  border: 1px solid white;
}
