#your-musicians-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 175px 0;
}
.user-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#usersMusicians-component{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#component{
    font-weight: 400;
}
