#comment-div div{
    display: flex;
    flex-direction: row;
    width: 700px;
}
.comment-form-container{

}
div.username{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 15pt;
    color:black;
    background-color: white;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid #A5A58D;
    border-bottom: 2px solid black;
    border-radius: 3px;
}
.comment_body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:baseline;
    background-color: #A5A58D;
    color:black;
    padding: 0;
    margin: 0;
    font-weight: 500;
    text-align: start;
    border-bottom: 2px solid black;
    border-radius: 8px;
}
#username-p{

}

.comment-create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p.comment-text-p{
padding: 2px;
}

button#comment-edit {
    width: 80px;
}
button#delete-comment{
    width: 100px;
}
div#edit-comment{

}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
