#add-musician-text{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;

    color: #f0efeb;
    font-size: 30px;
}

button#create_musician.submit{
  width: 75px;
  height: 30px;
  border-radius: 6px;
  background-color: #F0EFEB;
  font-size: 15px;
  font-weight: 600;
  color: black;
  border: none;
  margin: 2px;
}
button#create_musician.submit:hover{
  transition: all 0.4s ease 0s;
   background-color:black;
  font-weight: 600;
  color: #f0efeb;
  border: none;
}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
