#welcome-text {
position: absolute;
padding: 25px;
margin-top: 85px;
text-align: center;
color: white;
background-color: rgb(91, 107, 158);
opacity: .8;
}
.landing-container {
 display: flex;
 overflow-x: hidden;
}
img.background-image-landing {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
