/* TODO Add site wide styles */
/* body {
  margin: 0px;
} */

li{
    list-style-type: none;
}
ol{
  padding: 6px;
  margin: 0px;
  display: inline-block;
  color: white;
}

label{
  font-size: 16px;
  font-weight: 600;
  /* background-color: black; */
  color: black;
  border-radius: 4px;
  padding: 1.5px;
  margin: 2px;
}
/* style={{display: "table-cell"}} */


.card{
  border-radius: 6px;
  background-color: #F0EFEB;
  padding: 20 0 20px 0;
  border: 3px solid black;
   /* #E1FCFD; */
}

.card p{
  padding-top: 20px;
  padding-left: 20px;
}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/

textarea{
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

html{
  /* background-color: black; */
}
