/* TODO Add site wide styles */
body {
  padding: 0px;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0px;
}
li{
    list-style-type: none;
}
ol{
  padding: 6px;
  margin: 0px;
  display: inline-block;

}
label{
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 2px;
}
/* style={{display: "table-cell"}} */
nav{
  background-color: #CB997E;
  color: #FFF1E6;
  padding: 20px;
  margin:0;
}

.card{
  background-color: #F0EFEB;
  padding: 0 0 20px 0;
  border: 10px solid #A5A58D;
}

.card p{
  padding-top: 20px;
  padding-left: 20px;
}

a{
  font-weight: 600;
  color: #F0EFEB;
  border: none;
}

a:hover{
  font-weight: 600;
  color: #A5A58D;
  border: none;
}
textarea{
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
