/* /* li {
  list-style-type: none;
}
ol {
  padding: 6px;
  margin: 0px;
  display: inline-block;
  color: white;
} */

/* label {
  font-size: 16px;
  font-weight: 600;
  color: black;
  border-radius: 6px;
  padding: 6px;
  margin: 2px;
}  */
/* style={{display: "table-cell"}} */
/*
.card {
  border-radius: 6px;
  background-color: #f0efeb;
  padding: 20 0;

  border: 1px solid black;

} */
/*
.card p {
  padding-top: 20px;
  padding-left: 20px;
} */
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/

/* textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
} */

@media screen and (min-width: 480px) {
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav ul {
    display: flex;
  }

  nav li {
    flex: 1;
  }
}
/*!! was inside mediaQ below
  /* main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    }*/
@media screen and (min-width: 480px) {
  head {
    margin:2px;
    column-gap: 20px;
    /* overflow-x:hidden;
    overflow-y: auto; */
  }
}
/*!! this is added to foot section of page - dont forget to reference changes made in html file (public folder)
  /*article {
    margin-bottom: 0;
  }

  footer {
    border-top: 1px solid #ccc;
    margin-top: 2em;
  } */

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; }
/* background:#FFFEF6; */
/* background-color: #f0efeb; */

/*adding pull request */
/*adding pull request */
/*adding pull request */

 /* @media (min-width: 480px) {
  #root {
    flex-direction: row-reverse;
  }
 } */
/*
  @media (max-width: 1200px) {
    #root {
      display: inline-block;
      align-items: center;
    }
  }
} */
