button#delete-song-btn{
   text-align: center;
    width: auto;
    height: 35px;
    border-radius: 6px;
    background-color: white;
}
button#delete-song-btn:hover{
     cursor: pointer;
    background-color:#4A5FC1;
    color: #9CF6FB;
}
