body {
  margin: 0;
  padding: 0;
  background-color:rgb(46, 43, 43);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form input {
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 20px;
}

form input:focus {
  outline: none;
}
.login-container {
  display: flex;
  justify-content: center;
  margin-top: 175px;
  margin-left: 725px;
  width: 450px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  background: linear-gradient(to right, transparent, rgb(207, 187, 184)),url('../../assets/orangeandgreycityesk.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

button.login {
  width: 175px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: #E5B9A8;
  color: white;
  margin-top: 5px;
}
button.login:hover {
  transition: all 0.4s ease 0s;
  background-color: white;
  color: black;
  cursor: pointer;
}
html{

}


.errors {
  width: 300px;
  color: red;
  background-color: #fff1e6;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.errors li {
  list-style-type: none;
}
