.sign-up-container {
  display: grid;
  grid-template-rows: fit-content(100%);
  background: url(../../assets/blue-instruments.jpg);
  padding-top: -10px;
  text-align: center;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  /* color: white; */
  z-index: -1;
}

form.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 725px;
  background-color: white;
  width: 450px;
  height: 550px;
  margin-top: 75px;
  border-radius: 10px;
  /* background: linear-gradient(to right, transparent, rgb(93, 89, 88)),url('../../assets/philly_skyline.jpg'); */
  background: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.85;
}


form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 20px;
}
form input:focus {
  outline: none;
}

button.sign-up {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background-color:white;
   /* #E5B9A8; */
  color: black;
  margin-top: 5px;
}

button.sign-up:hover {
  transition: all 0.4s ease 0s;
  background-color:black;
  color:white;
  cursor: pointer;
}
