.sign-up_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 725px;
  background-color: white;
  width: 450px;
  height: 550px;
  margin-top: 75px;
  border-radius: 10px;
  background: linear-gradient(to right, transparent, rgb(93, 89, 88)),url('../../assets/philly_skyline.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 20px;
}
form input:focus {
  outline: none;
}

button.sign-up {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: #E5B9A8;
  color: white;
  margin-top: 5px;
}

button.sign-up:hover {
  transition: all 0.4s ease 0s;
  background-color: white;
  color:black;
  cursor: pointer;
}
