.musicians-list-components{
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
}
.musician-div-container{
 padding: 28px;
}
.musicians-container{
flex-basis: 5%;
padding: 5px;
}
.musician-name{
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  color:black;
  background-color: #394F8A;
  text-align: center;
  text-decoration: none;
}
.musician-name:hover{
  transition: 0.4s ease-in;
  color:#9CF6FB;
}
