#comment-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
button.comment-button {
  text-align: center;
  width: auto;
  height: 35px;
  border-radius: 6px;
  background-color: white;
  border: none;
}
button.comment-button:hover {
  transition: all 0.4s ease 0s;
  background-color:black;
  color: white;
  cursor: pointer;
}
