#audio-player{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.title-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 560;
    font-style: italic;
    font-size: 18pt;
}


/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
