.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
div#biography{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
