
div#biography{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.biography-div{
  flex: 2;
  align-items: flex-start;
}
.audio-div audio{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
