div#biography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../assets/carsblur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
div.biography-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  /* background-color: #4A5FC1; #FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD */
  /* border-bottom: 2px solid black;
  border-top: 4px solid black; */
  border-radius: 6px;
  /* border: 3px solid black; */
  max-width: 500px;
  min-width: 500px;
}
.audio-div audio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.song-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 8px;
  border-radius: 6px;
}

/* .update-biography{

} */
