#your-musicians-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 175px 2px;
  color: #4A5FC1;
  border-bottom: 2px solid  #EAD6CD;
}
.user-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 4px;
}
#usersMusicians-component{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#component{
    font-weight: 400;
}
button#add-musician-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 175px 20;
    align-items: center;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: white;
}
button#add-musician-btn:hover{
  transition: all 0.4s ease 0s;
  background-color: #f0efeb;
  font-weight: 600;
  color: black;
  border: none;
}
div#add-musicians-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 4px;
}
/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
