nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  /*#CB997E;*/
  /* color: #FFF1E6; */
  padding: 20px;
  margin:0;
}
.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.383);
  background-color: #4A5FC1;
  backdrop-filter: blur(5px);
}

button#home,
button#user-page,
button#musicians-form,
button#musicians-list {
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background-color: #4A5FC1;
  font-size: 15px;
  font-weight: 500;

}
button#home:hover,
button#user-page:hover,
button#musicians-list:hover,
button#musicians-form:hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
a,a.active{
  font-weight: 500;
  color:#9CF6FB;
  border: none;
  text-decoration: none
}

a:hover,a.active:hover{
  font-weight: 500;
  color: black;
  border: none;
  text-decoration: none;
}

button#login_nav,
button#sign_up {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background-color: #f0efeb;
  font-size: 16px;
  border: none;
}
button#login_nav:hover,
button#sign_up:hover {
  transition: all 0.4s ease 0s;
  /* background-color: #f0efeb; */
  border: none;
}
button#demo-button {
  width: 85px;
  height: 40px;
  border-radius: 6px;
  background-color: #4A5FC1;
  font-size: 16px;
  font-weight:550;
  border: none;
}
button#demo-button:hover {
  transition: all 0.4s ease 0s;
  background-color: #f0efeb;
  cursor: pointer;
  border: none;
}

button#login_nav:focus {
  outline: none;
}

button.log-out-button {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  /* background-color: #a5a58d; */
  font-size: 15px;
  font-weight: 600;
  border: none;
}
button.log-out-button:hover {
  transition: all 0.4s ease 0s;
  border: none;
  cursor: pointer;
}

/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
